---
layout: sec_direction
title: Product Direction - Mobile DevOps
description: ""
canonical_path: "/direction/mobile/mobile-devops/"
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Overview

The future is mobile. [Everyone globally either has or will have a mobile phone](https://www.pewresearch.org/global/2019/02/05/smartphone-ownership-is-growing-rapidly-around-the-world-but-not-always-equally/) available in the near future. Some [projections](https://www.statista.com/statistics/218984/number-of-global-mobile-users-since-2010/) indicate that there will be 7.49 B smartphone users by 2025, and [global spending](https://sensortower.com/blog/sensor-tower-app-market-forecast-2026) on app and app-related purchases and subscriptions will reach $233B by 2026 - a 77% increase over five years. Companies, especially those in B2C industries, need a mobile strategy to remain accessible in the future.

Today the two main platforms are iOS and Android. Each platform has its own unique features, processes, opportunities, and challenges. Both platforms are rapidly evolving, which means that development teams must keep up with the rapid pace of innovation, and they expect their partners to do the same. In the [2023 Magic Quadrant](https://www.gartner.com/doc/reprints?id=1-2DW4I0FF&ct=230601&st=sb), Gartner included Mobile App Delivery as one of the six evaluation criteria.  Specifically, the ability to “build/test/deliver native mobile and mobile web applications” 

## Mission 

GitLab's vision for Mobile DevOps is to provide high-value, best-in-class capabilities for enterprise flagship apps.

## Vision

The vision for GitLab Mobile DevOps is to give mobile developers the ability to `build`, `test`, `sign`, `release`, and `secure` their applications using the GitLab tools they’re already familiar with. We do this by creating automation and tooling to enable developers to create a CI/CD pipeline with only a few clicks. They can then expand those capabilities by adding additional integrations and security tools.

## Resourcing and Investment

We will approach this using a [single-engineer group](https://about.gitlab.com/company/team/structure/#single-engineer-groups) to enable us to explore this area rapidly. This also means we will focus on smaller iterations and use cases in areas in which we can quickly make progress.

## Fastlane

[Fastlane](http://fastlane.tools/) is the most popular open-source tool for mobile application development and release automation. We will utilize Fastlane in our automations and tools and contribute to the open-source project whenever possible. Please see our [recent contributions](https://github.com/fastlane/fastlane/pulls?q=is%3Apr+author%3Adarbyfrey) for more details.

## Current Status and Roadmap

For the current status and roadmap, please see our [the Mobile DevOps Incubation Engineering page](https://handbook.gitlab.com/handbook/engineering/development/incubation/mobile-devops/).

## Competitive Landscape

There are several competitors in this space providing visual pipeline builders on top of their own CI/CD systems (Bitrise, Appcircle, and Codemagic) and the more prominent players, including Visual Studio App Center, Firebase, and AWS Mobile Services.

## How To Contribute

#### Feedback

Feedback is essential to this project, so we encourage you to:

* [Request a feature](https://gitlab.com/gitlab-org/incubation-engineering/mobile-devops/feedback/-/issues/new?issuable_template=feature_request).
* [Report a bug](https://gitlab.com/gitlab-org/incubation-engineering/mobile-devops/feedback/-/issues/new?issuable_template=report_bug).
* [Share feedback](https://gitlab.com/gitlab-org/incubation-engineering/mobile-devops/feedback/-/issues/new?issuable_template=general_feedback).

#### GitLab Issues

Please feel free to create issues or participate in discussions in our [issue board](https://gitlab.com/gitlab-org/incubation-engineering/mobile-devops/readme/-/issues).

#### Slack

We can also be found in Slack at `#mobile-devops` (internal)

<p align="center">
    <i><br>
    Last Reviewed: 2023-11-03<br>
    Last Updated: 2023-11-03
    </i>
</p>
